In [273]:
#Load Packages
import glob
import pandas as pd

In [256]:
allfilepaths = glob.glob("../Data/PrePostMeasures/*.sav")
dfnames = []
for filepath in allfilepaths:
    name = 'df_'+filepath.replace('../Data/PrePostMeasures/','').replace('_1.sav','')
    dfnames.append(name)
    locals()[name] = pd.read_spss(filepath)

In [224]:
df_FFMQPre = df_FFMQPre.iloc[:,0:25]
df_FFMQPre = df_FFMQPre[df_FFMQPre['ID1'].notna()]
df_FFMQPre['ID1'] = df_FFMQPre['ID1'].astype('int32').astype('category')
df_FFMQPre.iloc[:, 1:24] = df_FFMQPre.iloc[:, 1:24].apply(
    lambda x: x.map({'never or very rarely true': 1, 'rarely true': 2,
       'sometimes true':3, 'often true':4, 'very often or always true':5}).astype('float'), axis = 0)

# FFMQPre.iloc[:,24] = FFMQPre.iloc[:,24].map({1.0:'never or very rarely true',
#                   2.0:'rarely true',
#                   3.0:'sometimes true',
#                   4.0:'often true',
#                   5.0:'very often or always true'}).astype('category').cat.set_categories(
#    ['never or very rarely true', 'rarely true',
#       'sometimes true', 'often true', 'very often or always true'], ordered = True)

In [233]:
df_FFMQPost = df_FFMQPost.iloc[:,0:25]
df_FFMQPost = df_FFMQPost[df_FFMQPost['ID1'].notna()]
df_FFMQPost['ID1'] = df_FFMQPost['ID1'].astype('int32').astype('category')
df_FFMQPost.iloc[:, 1:25] = df_FFMQPost.iloc[:, 1:25].apply(
    lambda x: x.map({'never or very rarely true': 1, 'rarely true': 2,
       'sometimes true':3, 'often true':4, 'very often or always true':5}).astype('float'), axis = 0)

In [257]:
df_AAQIIPre = df_AAQIIPre.iloc[:,:8]
df_AAQIIPre = df_AAQIIPre[df_AAQIIPre['ID1'].notna()]
df_AAQIIPre['ID1'] = df_AAQIIPre['ID1'].astype('int32').astype('category')
df_AAQIIPre.iloc[:, 1:] = df_AAQIIPre.iloc[:, 1:].apply(
    lambda x: x.map({'never true':1, 'very seldom true':2,
       'seldom true':3, 'sometimes true':4, 'frequently true':5, 
                     'almost always true':6, 'always true':7}).astype('float'), axis = 0)

In [260]:
df_AAQIIPost = df_AAQIIPost.iloc[:,:8]
df_AAQIIPost = df_AAQIIPost[df_AAQIIPost['ID1'].notna()]
df_AAQIIPost['ID1'] = df_AAQIIPost['ID1'].astype('int32').astype('category')
df_AAQIIPost.iloc[:, 1:] = df_AAQIIPost.iloc[:, 1:].apply(
    lambda x: x.map({'never true':1, 'very seldom true':2,
       'seldom true':3, 'sometimes true':4, 'frequently true':5, 
                     'almost always true':6, 'always true':7}).astype('float'), axis = 0)

In [267]:
df_

,ID1,VLQpost_1_1,VLQpost_2_1,VLQpost_3_1,VLQpost_4_1,VLQpost_5_1,VLQpost_6_1,VLQpost_7_1,VLQpost_8_1,VLQpost_9_1,VLQpost_10_1,VLQpost_11_1,VLQpost_12_1,VAR00001,VAR00002,VAR00003
0,1.0,0.0,6.0,6.0,0.0,0.0,6.0,0.0,6.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4.0,5.0,1.0,1.0,4.0,4.0,0.0,4.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5.0,6.0,1.0,1.0,6.0,6.0,0.0,6.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5024,5025.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5025,5026.0,2.0,5.0,4.0,3.0,3.0,5.0,2.0,3.0,2.0,3.0,3.0,3.0,NaN,NaN,NaN
5026,5027.0,1.0,5.0,5.0,5.0,5.0,4.0,1.0,3.0,3.0,5.0,2.0,1.0,NaN,NaN,NaN
5027,5028.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5028,5029.0,0.0,5.0,5.0,4.0,1.0,5.0,0.0,3.0,1.0,5.0,6.0,0.0,NaN,NaN,NaN

In [173]:
FFMQPost_1 = FFMQPost_1.iloc[:,:25]
FFMQPost_1 = FFMQPost_1[FFMQPost_1['ID1'].notna()]
FFMQPost_1['ID1'] = FFMQPost_1['ID1'].astype('int32').astype('category')
FFMQPost_1.iloc[:, 1:24] = df.iloc[:, 1:24].apply(
    lambda x: x.cat.set_categories(['never or very rarely true', 'rarely true',
       'sometimes true', 'often true', 'very often or always true'], ordered = True), axis = 0)

In [299]:
df_RDQPost

,ID1,rdqpost_1_1,rdqpost_2_1,rdqpost_3_1,rdqpost_4_1,rdqpost_5_1,rdqpost_6_1,rdqpost_7_1,rdqpost_8_1,rdqpost_9_1,...,rdqpost_52_1,rdqpost_53_1,rdqpost_54_1,rdqpost_55_1,rdqpost_56_1,rdqpost_57_1,rdqpost_58_1,rdqpost_59_1,rdqpost_60_1,PrimaryLast
0,1.0,not at all or rarely true,not at all or rarely true,not at all or rarely true,not at all or rarely true,not at all or rarely true,not at all or rarely true,not at all or rarely true,not at all or rarely true,not at all or rarely true,...,not at all or rarely true,often or almost always true,often or almost always true,often or almost always true,often or almost always true,often or almost always true,often or almost always true,often or almost always true,often or almost always true,Primary Case
1,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Primary Case
2,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Primary Case
3,4.0,often or almost always true,often or almost always true,often or almost always true,often or almost always true,not at all or rarely true,not at all or rarely true,sometimes true,often or almost always true,sometimes true,...,sometimes true,not at all or rarely true,not at all or rarely true,sometimes true,not at all or rarely true,not at all or rarely true,not at all or rarely true,not at all or rarely true,not at all or rarely true,Primary Case
4,5.0,often or almost always true,often or almost always true,often or almost always true,not at all or rarely true,often or almost always true,sometimes true,not at all or rarely true,often or almost always true,often or almost always true,...,often or almost always true,not at all or rarely true,not at all or rarely true,not at all or rarely true,not at all or rarely true,not at all or rarely true,not at all or rarely true,not at all or rarely true,not at all or rarely true,Primary Case
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7252,7253.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7253,7254.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7254,7255.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7255,7256.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7256,7257.0,sometimes true,sometimes true,sometimes true,not at all or rarely true,not at all or rarely true,sometimes true,not at all or rarely true,sometimes true,sometimes true,...,sometimes true,sometimes true,sometimes true,sometimes true,sometimes true,sometimes true,sometimes true,sometimes true,sometimes true,NaN

In [ ]:
#FFMQ
df_

FFMQPre_1['FFMQpre_10_1'].cat.set_categories(['never or very rarely true', 'rarely true',
       'sometimes true', 'often true', 'very often or always true'], ordered = True)

In [50]:
df = locals()[dfnames[0]].copy()
df_POQPre_1.rename(columns={'id1':'ID1'}, inplace = True)

for dfname in dfnames[1:]:
    df = df.merge(locals()[dfname], on = 'ID1', how = 'outer')

In [334]:
sat = pd.read_spss('../Data/PHPSatisfaction/EndofTreatmentSurveyData/End of Treatment_1.sav')
sat

,ID_1,PHP_ID_1,Not_consented_1,Therapist_1,Psychiatrist_1,TRACK_1,BT_1,Anonymity_1,MONTH_1,OS_1,...,BEAR_1,OVERALL_1,RECC_1,IMPRV_1,RACE_1,AGE_1,GENDER_1,S_ORIENTATION_1,identitycomments_1,comments_1
0,1024.0,1346.0,NaN,TS,LM,GT,NaN,Nonanonymous,2016-01-29,2.0,...,NaN,2.0,2.0,2.0,NaN,NaN,NaN,NaN,NaN,
1,1025.0,1325.0,NaN,KL,SM,GT,NaN,Nonanonymous,2016-01-29,3.0,...,NaN,3.0,4.0,2.0,NaN,NaN,NaN,NaN,NaN,
2,1026.0,NaN,NaN,NaN,NaN,NaN,NaN,Anonymous,2016-02-01,4.0,...,NaN,4.0,4.0,4.0,NaN,NaN,NaN,NaN,NaN,
3,1027.0,NaN,NaN,NaN,NaN,NaN,NaN,Anonymous,2016-01-28,4.0,...,NaN,4.0,4.0,3.0,NaN,NaN,NaN,NaN,NaN,
4,1028.0,NaN,NaN,NaN,NaN,TT,NaN,Anonymous,2016-01-28,1.0,...,NaN,2.0,2.0,1.0,NaN,NaN,NaN,NaN,NaN,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3714,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,...,NaN,3.0,4.0,3.0,3.0,3.0,2.0,3.0,NaN,
3715,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,3.0,3.0,2.0,NaN,NaN,NaN,NaN,NaN,
3716,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,...,4.0,4.0,4.0,4.0,3.0,4.0,4.0,4.0,NaN,
3717,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,...,NaN,4.0,3.0,4.0,4.0,3.0,4.0,4.0,NaN,
3718,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,...,NaN,3.0,4.0,1.0,3.0,3.0,3.0,3.0,NaN,

In [65]:
FFMQPre_1['FFMQpre_10_1'].cat.categories
#RDQ case_mix_severity

df_AAQIIPost

Index(['never or very rarely true', 'often true', 'rarely true',
       'sometimes true', 'very often or always true'],
      dtype='object')

In [285]:
FFMQPre_1.ID1

0          1
1          2
2          3
3          4
4          5
        ...
5026    5027
5027    5028
5028    5029
5029    5030
5032    5753
Name: ID1, Length: 5031, dtype: category
Categories (5031, int64): [1, 2, 3, 4, ..., 5028, 5029, 5030, 5753]

In [293]:
sat = pd.read_spss('../Data/PHPSatisfaction/EndofTreatmentSurveyData/End of Treatment_1.sav')
sat2 = pd.read_spss('../Data/PHPSatisfaction/EndofTreatmentSurveyData/End of Treatment_2.sav')
dashboard = pd.read_spss('../Data/PHPSatisfaction/EndofTreatmentSurveyData/EOT Verfication.sav')

In [335]:
df_RDQPost_1

,ID1,rdqpost_1_1,rdqpost_2_1,rdqpost_3_1,rdqpost_4_1,rdqpost_5_1,rdqpost_6_1,rdqpost_7_1,rdqpost_8_1,rdqpost_9_1,...,rdqpost_52_1,rdqpost_53_1,rdqpost_54_1,rdqpost_55_1,rdqpost_56_1,rdqpost_57_1,rdqpost_58_1,rdqpost_59_1,rdqpost_60_1,PrimaryLast
0,1.0,not at all or rarely true,not at all or rarely true,not at all or rarely true,not at all or rarely true,not at all or rarely true,not at all or rarely true,not at all or rarely true,not at all or rarely true,not at all or rarely true,...,not at all or rarely true,often or almost always true,often or almost always true,often or almost always true,often or almost always true,often or almost always true,often or almost always true,often or almost always true,often or almost always true,Primary Case
1,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Primary Case
2,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Primary Case
3,4.0,often or almost always true,often or almost always true,often or almost always true,often or almost always true,not at all or rarely true,not at all or rarely true,sometimes true,often or almost always true,sometimes true,...,sometimes true,not at all or rarely true,not at all or rarely true,sometimes true,not at all or rarely true,not at all or rarely true,not at all or rarely true,not at all or rarely true,not at all or rarely true,Primary Case
4,5.0,often or almost always true,often or almost always true,often or almost always true,not at all or rarely true,often or almost always true,sometimes true,not at all or rarely true,often or almost always true,often or almost always true,...,often or almost always true,not at all or rarely true,not at all or rarely true,not at all or rarely true,not at all or rarely true,not at all or rarely true,not at all or rarely true,not at all or rarely true,not at all or rarely true,Primary Case
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7252,7253.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7253,7254.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7254,7255.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7255,7256.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7256,7257.0,sometimes true,sometimes true,sometimes true,not at all or rarely true,not at all or rarely true,sometimes true,not at all or rarely true,sometimes true,sometimes true,...,sometimes true,sometimes true,sometimes true,sometimes true,sometimes true,sometimes true,sometimes true,sometimes true,sometimes true,NaN

In [323]:
sat3 = pd.read_spss('../Data/DischargePacket/2020-09-14.sav')
sat3

,id1,record_id,redcap_survey_identifier,welcome_timestamp,welcome_complete,php_id_complete,demographics_timestamp,initials,age_1,dob_1,...,ffmq_complete,aaqii_timestamp,aaqiipre_1_1,aaqiipre_2_1,aaqiipre_3_1,aaqiipre_4_1,aaqiipre_5_1,aaqiipre_6_1,aaqiipre_7_1,aaqii_complete
0,5975.0,14.0,NaN,1.380589e+10,2.0,2.0,1.380589e+10,CF,28.0,1.289917e+10,...,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
1,5983.0,9.0,NaN,1.380555e+10,2.0,2.0,1.380555e+10,OAO,31.0,1.380551e+10,...,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
2,5988.0,4.0,NaN,1.380521e+10,2.0,2.0,1.380521e+10,CS,32.0,1.277640e+10,...,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
3,6000.0,12.0,NaN,1.380564e+10,2.0,2.0,1.380564e+10,KS,18.0,1.321194e+10,...,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
4,6003.0,32.0,NaN,1.380815e+10,2.0,2.0,1.380815e+10,SC,34.0,1.271125e+10,...,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
129,6236.0,231.0,NaN,1.381906e+10,2.0,2.0,1.381906e+10,DJB,39.0,1.258321e+10,...,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
130,6237.0,230.0,NaN,1.381897e+10,2.0,2.0,1.381897e+10,KJC,29.0,1.287732e+10,...,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
131,6239.0,238.0,NaN,1.381946e+10,2.0,2.0,1.381946e+10,SKNB,36.0,1.267479e+10,...,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
132,6245.0,218.0,NaN,1.381826e+10,2.0,2.0,1.381826e+10,JML,57.0,1.200632e+10,...,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
133,6246.0,224.0,NaN,1.381859e+10,2.0,2.0,1.381859e+10,SO,29.0,1.289485e+10,...,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0

In [336]:
df_ClinicalHx

,ID1,clinhx_1_1,clinhx_2_1,clinhx_3_1,clinhx_4_1,clinhx_5_1,clinhx_6_1,clinhx_7_1,clinhx_8_1,clinhx_9_1,...,clinhx_33_1,clinhx_34_1,clinhx_35_1,clinhx_36_1,clinhx_37_1,clinhx_38_1,clinhx_39_1,clinhx_40_1,clinhx_41_1,PrimaryLast
0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Primary Case
1,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Primary Case
2,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Primary Case
3,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Primary Case
4,5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Primary Case
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7272,7273.0,50-90%,50-90%,25-49%,I get only some enjoyment from life,Extremely,Extremely,Severely,Extreme,Not Sure,...,Fair,Fair,Extremely,0 times,0 times,0 times,0 times,0 times,older than 25,NaN
7273,7274.0,50-90%,More than 90%,Less than 10%,I get little enjoyment or satisfaction from life,Severely,Severely,Mildly,Severe,Unlikely,...,Poor,Very low,Extremely,0 times,NaN,0 times,1 time,0 times,13-17,NaN
7274,7275.0,25-49%,25-49%,25-49%,For the most part I am able to enjoy life,Moderately,Severely,Severely,Severe,Likely,...,Fair,Fair,Extremely,0 times,0 times,0 times,1 time,0 times,older than 25,NaN
7275,7276.0,25-49%,More than 90%,Less than 10%,I get only some enjoyment from life,Severely,Severely,Mildly,Severe,Unlikely,...,Poor,Poor,Extremely,0 times,2 times,0 times,0 times,0 times,18-25,NaN
7276,7277.0,50-90%,More than 90%,25-49%,I get only some enjoyment from life,Moderately,Severely,Mildly,Moderate,Not Sure,...,Fair,Poor,Extremely,2 times,5 or more times,1 time,0 times,1 time,18-25,NaN