In [1]:
#Load Packages
import glob
import pandas as pd

In [256]:
allfilepaths = glob.glob("../Data/PrePostMeasures/*.sav")
dfnames = []
for filepath in allfilepaths:
    name = 'df_'+filepath.replace('../Data/PrePostMeasures/','').replace('_1.sav','')
    dfnames.append(name)
    locals()[name] = pd.read_spss(filepath)

In [224]:
df_FFMQPre = df_FFMQPre.iloc[:,0:25]
df_FFMQPre = df_FFMQPre[df_FFMQPre['ID1'].notna()]
df_FFMQPre['ID1'] = df_FFMQPre['ID1'].astype('int32').astype('category')
df_FFMQPre.iloc[:, 1:24] = df_FFMQPre.iloc[:, 1:24].apply(
    lambda x: x.map({'never or very rarely true': 1, 'rarely true': 2,
       'sometimes true':3, 'often true':4, 'very often or always true':5}).astype('float'), axis = 0)

# FFMQPre.iloc[:,24] = FFMQPre.iloc[:,24].map({1.0:'never or very rarely true',
#                   2.0:'rarely true',
#                   3.0:'sometimes true',
#                   4.0:'often true',
#                   5.0:'very often or always true'}).astype('category').cat.set_categories(
#    ['never or very rarely true', 'rarely true',
#       'sometimes true', 'often true', 'very often or always true'], ordered = True)

In [233]:
df_FFMQPost = df_FFMQPost.iloc[:,0:25]
df_FFMQPost = df_FFMQPost[df_FFMQPost['ID1'].notna()]
df_FFMQPost['ID1'] = df_FFMQPost['ID1'].astype('int32').astype('category')
df_FFMQPost.iloc[:, 1:25] = df_FFMQPost.iloc[:, 1:25].apply(
    lambda x: x.map({'never or very rarely true': 1, 'rarely true': 2,
       'sometimes true':3, 'often true':4, 'very often or always true':5}).astype('float'), axis = 0)

In [257]:
df_AAQIIPre = df_AAQIIPre.iloc[:,:8]
df_AAQIIPre = df_AAQIIPre[df_AAQIIPre['ID1'].notna()]
df_AAQIIPre['ID1'] = df_AAQIIPre['ID1'].astype('int32').astype('category')
df_AAQIIPre.iloc[:, 1:] = df_AAQIIPre.iloc[:, 1:].apply(
    lambda x: x.map({'never true':1, 'very seldom true':2,
       'seldom true':3, 'sometimes true':4, 'frequently true':5, 
                     'almost always true':6, 'always true':7}).astype('float'), axis = 0)

In [260]:
df_AAQIIPost = df_AAQIIPost.iloc[:,:8]
df_AAQIIPost = df_AAQIIPost[df_AAQIIPost['ID1'].notna()]
df_AAQIIPost['ID1'] = df_AAQIIPost['ID1'].astype('int32').astype('category')
df_AAQIIPost.iloc[:, 1:] = df_AAQIIPost.iloc[:, 1:].apply(
    lambda x: x.map({'never true':1, 'very seldom true':2,
       'seldom true':3, 'sometimes true':4, 'frequently true':5, 
                     'almost always true':6, 'always true':7}).astype('float'), axis = 0)

In [267]:
df_

,ID1,VLQpost_1_1,VLQpost_2_1,VLQpost_3_1,VLQpost_4_1,VLQpost_5_1,VLQpost_6_1,VLQpost_7_1,VLQpost_8_1,VLQpost_9_1,VLQpost_10_1,VLQpost_11_1,VLQpost_12_1,VAR00001,VAR00002,VAR00003
0,1.0,0.0,6.0,6.0,0.0,0.0,6.0,0.0,6.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4.0,5.0,1.0,1.0,4.0,4.0,0.0,4.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5.0,6.0,1.0,1.0,6.0,6.0,0.0,6.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5024,5025.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5025,5026.0,2.0,5.0,4.0,3.0,3.0,5.0,2.0,3.0,2.0,3.0,3.0,3.0,NaN,NaN,NaN
5026,5027.0,1.0,5.0,5.0,5.0,5.0,4.0,1.0,3.0,3.0,5.0,2.0,1.0,NaN,NaN,NaN
5027,5028.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5028,5029.0,0.0,5.0,5.0,4.0,1.0,5.0,0.0,3.0,1.0,5.0,6.0,0.0,NaN,NaN,NaN

In [173]:
FFMQPost_1 = FFMQPost_1.iloc[:,:25]
FFMQPost_1 = FFMQPost_1[FFMQPost_1['ID1'].notna()]
FFMQPost_1['ID1'] = FFMQPost_1['ID1'].astype('int32').astype('category')
FFMQPost_1.iloc[:, 1:24] = df.iloc[:, 1:24].apply(
    lambda x: x.cat.set_categories(['never or very rarely true', 'rarely true',
       'sometimes true', 'often true', 'very often or always true'], ordered = True), axis = 0)

In [174]:
FFMQPost_1

,ID1,FFMQpost_1_1,FFMQpost_2_1,FFMQpost_3_1,FFMQpost_4_1,FFMQpost_5_1,FFMQpost_6_1,FFMQpost_7_1,FFMQpost_8_1,FFMQpost_9_1,...,FFMQpost_15_1,FFMQpost_16_1,FFMQpost_17_1,FFMQpost_18_1,FFMQpost_19_1,FFMQpost_20_1,FFMQpost_21_1,FFMQpost_22_1,FFMQpost_23_1,FFMQpost_24_1
0,1.0,very often or always true,very often or always true,often true,never or very rarely true,never or very rarely true,often true,never or very rarely true,never or very rarely true,often true,...,often true,very often or always true,never or very rarely true,often true,never or very rarely true,very often or always true,often true,never or very rarely true,never or very rarely true,never or very rarely true
1,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4.0,often true,sometimes true,sometimes true,sometimes true,sometimes true,sometimes true,sometimes true,often true,sometimes true,...,very often or always true,often true,often true,sometimes true,sometimes true,sometimes true,sometimes true,sometimes true,often true,sometimes true
4,5.0,rarely true,never or very rarely true,never or very rarely true,rarely true,never or very rarely true,never or very rarely true,rarely true,very often or always true,never or very rarely true,...,never or very rarely true,never or very rarely true,rarely true,rarely true,very often or always true,never or very rarely true,never or very rarely true,very often or always true,very often or always true,rarely true
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5095,5096.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5096,5097.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5097,5098.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5098,5099.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5099,5100.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
#FFMQ
df_

FFMQPre_1['FFMQpre_10_1'].cat.set_categories(['never or very rarely true', 'rarely true',
       'sometimes true', 'often true', 'very often or always true'], ordered = True)

In [50]:
df = locals()[dfnames[0]].copy()
df_POQPre_1.rename(columns={'id1':'ID1'}, inplace = True)

for dfname in dfnames[1:]:
    df = df.merge(locals()[dfname], on = 'ID1', how = 'outer')

In [271]:
sat = pd.read_spss('../Data/Satisfaction/Combined 03.10.16.sav')
sat

,Date,therapist_number,useful1,content2,presenter3,understandable4,WhatGroup,topic,topic_03.10.16,topic_other,...,topic_recode2,useful5plus,useful1minus,content5plus,content1minus,presenter5plus,presenter1minus,understand5plus,understand1minus,WhatGroup2
0,2014-11-18,BP,5.0,5.0,5.0,5.0,ACT,Mindfulness,Mindfulness,6,...,1.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,ACT
1,2014-11-18,BP,3.0,3.0,3.0,4.0,ACT,Mindfulness,Mindfulness,6,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,ACT
2,2014-11-18,BP,5.0,5.0,5.0,6.0,ACT,Mindfulness,Mindfulness,6,...,1.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,ACT
3,2014-11-18,BP,5.0,5.0,5.0,5.0,ACT,Mindfulness,Mindfulness,6,...,1.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,ACT
4,2014-11-18,BP,6.0,6.0,6.0,6.0,ACT,Mindfulness,Mindfulness,6,...,1.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,ACT
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15534,2015-12-16,CD,6.0,6.0,6.0,NaN,IPT YA,,NaN,,...,NaN,1.0,0.0,1.0,0.0,1.0,0.0,NaN,NaN,IPT YA
15535,2015-12-16,CD,6.0,6.0,6.0,NaN,IPT YA,,NaN,,...,NaN,1.0,0.0,1.0,0.0,1.0,0.0,NaN,NaN,IPT YA
15536,2015-12-22,DH,4.0,5.0,4.0,NaN,IPT YA,,NaN,,...,NaN,0.0,0.0,1.0,0.0,0.0,0.0,NaN,NaN,IPT YA
15537,2015-12-22,DH,6.0,6.0,6.0,NaN,IPT YA,,NaN,,...,NaN,1.0,0.0,1.0,0.0,1.0,0.0,NaN,NaN,IPT YA
15538,2015-12-22,DH,3.0,4.0,6.0,NaN,IPT YA,,NaN,,...,NaN,0.0,0.0,0.0,0.0,1.0,0.0,NaN,NaN,IPT YA

In [65]:
FFMQPre_1['FFMQpre_10_1'].cat.categories

Index(['never or very rarely true', 'often true', 'rarely true',
       'sometimes true', 'very often or always true'],
      dtype='object')